<template>
    <div class="row">
      <div class="col">
        <ul
        v-if="adminInfo && adminInfo.length"
        class="list-group">
          <li
          v-for="(item, idx) of adminInfo"
          :key="idx"
          class="list-group-item">
            <div class="card card-body">
              <div class="row">
                <div class="col">
                  <a :href="item.url" target="_blank">{{ item.title }}</a>
                </div>

                <div class="col">
                  <img :src="item.imageSrc" :alt="item.title" class="mb-2" style="width: 50px">
                </div>
              </div>

              <div class="btn-group">
                <router-link tag="button" :to="`/admin-info/${item.id}`" class="btn btn-primary">Edit</router-link>

                <button @click="deleteInfo(item.id)" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </li>
        </ul>

        <p v-else>Social links list is empty</p>
      </div>

      <div class="col">
        <div class="card card-header">
          <strong>Main image</strong>
        </div>

        <form @submit.prevent="submitHandler('mainImage')" class="card card-body mb-4">
          <img :src="imageSrcMain" alt="Main image" class="mb-3" style="width: 300px">

          <p class="mb-2">Upload new main image</p>

          <input
          @change="addFileHandler($event, 'mainImage')"
          type="file"
          :multiple="false"
          accept="image/png, image/jpeg">

          <br>

          <button type="submit" class="btn btn-primary">Save main image</button>
        </form>

        <div class="card card-header">
          <strong>Avatar image</strong>
        </div>

        <form @submit.prevent="submitHandler('avatarImage')" class="card card-body mb-4">
          <img :src="imageSrcAvatar" alt="Avatar image" class="mb-3" style="width: 300px">

          <p class="mb-2">Upload new avatar image</p>

          <input
            @change="addFileHandler($event, 'avatarImage')"
            type="file"
            :multiple="false"
            accept="image/png, image/jpeg">

          <br>

          <button type="submit" class="btn btn-primary">Save avatar image</button>
        </form>

        <div class="card card-header">
          <strong>BIO</strong>
        </div>

        <form @submit.prevent="submitHandler('bio')" class="card card-body">
          <a :href="urlBio" target="_blank" class="mb-3">View BIO</a>

          <p class="mb-2">Upload new BIO</p>

          <input
          @change="addFileHandler($event, 'bio')"
          type="file"
          :multiple="false"
          accept="application/pdf"
          id="add-bio">

          <br>

          <button type="submit" class="btn btn-primary">Save BIO file</button>
        </form>
      </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'AdminInfo',
  methods: {
    ...mapActions(['removeData', 'updateMainInfo', 'removeMainInfoFile']),
    async deleteInfo(id) {
      try {
        await this.removeData({ dir: 'info', id });
      } catch (e) {
        console.warn(e);
      }
    },
    addFileHandler(event, type) {
      switch (type) {
      case 'mainImage': {
        // eslint-disable-next-line prefer-destructuring
        this.imageMain = event.target.files[0];
        this.imageNameMain = `mainImage/${event.target.files[0].name}`;
        break;
      }
      case 'avatarImage': {
        // eslint-disable-next-line prefer-destructuring
        this.imageAvatar = event.target.files[0];
        this.imageNameAvatar = `avatarImage/${event.target.files[0].name}`;
        break;
      }
      case 'bio': {
        // eslint-disable-next-line prefer-destructuring
        this.fileBio = event.target.files[0];
        this.fileNameBio = `bio/${event.target.files[0].name}`;
        break;
      }
      default: break;
      }
    },
    async submitHandler(type) {
      let payload = null;
      switch (type) {
      case 'mainImage': {
        payload = {
          file: this.imageMain,
          fileName: this.imageNameMain,
          fileSrc: this.imageSrcMain,
        };
        break;
      }
      case 'avatarImage': {
        payload = {
          file: this.imageAvatar,
          fileName: this.imageNameAvatar,
          fileSrc: this.imageSrcAvatar,
        };
        break;
      }
      case 'bio': {
        payload = {
          file: this.fileBio,
          fileName: this.fileNameBio,
          fileSrc: this.fileSrcBio,
        };
        break;
      }
      default: break;
      }
      try {
        if ((this.imageNameMain || this.fileNameBio)
          && this[type].fileName !== (this.imageNameMain || this.fileNameBio)) {
          await this.removeMainInfoFile({ dir: type });
        }
        await this.updateMainInfo({ dir: type, payload });
      } catch (e) {
        console.warn(e);
      }
      this.resetForm(type);
    },
    resetForm(type) {
      switch (type) {
      case 'mainImage': {
        this.imageMain = null;
        this.imageNameMain = null;
        this.imageSrcMain = null;
        break;
      }
      case 'avatarImage': {
        this.imageAvatar = null;
        this.imageNameAvatar = null;
        this.imageSrcAvatar = null;
        break;
      }
      case 'bio': {
        this.fileBio = null;
        this.fileNameBio = null;
        this.fileSrcBio = null;
        break;
      }
      default: break;
      }
    },
  },
  computed: {
    ...mapGetters({
      adminInfo: 'getAdminInfo',
      mainImage: 'getMainImage',
      avatarImage: 'getAvatarImage',
      bio: 'getBio',
    }),
  },
  data() {
    return {
      imageMain: null,
      imageNameMain: null,
      imageSrcMain: null,
      imageAvatar: null,
      imageNameAvatar: null,
      imageSrcAvatar: null,
      fileBio: null,
      fileNameBio: null,
      fileSrcBio: null,
      urlBio: null,
    };
  },
  watch: {
    mainImage: {
      handler(val) {
        if (val) {
          const { fileSrc } = this.mainImage;
          this.imageSrcMain = fileSrc;
        }
      },
      immediate: true,
    },
    avatarImage: {
      handler(val) {
        if (val) {
          const { fileSrc } = this.avatarImage;
          this.imageSrcAvatar = fileSrc;
        }
      },
      immediate: true,
    },
    bio: {
      handler(val) {
        if (val) {
          const { fileSrc } = this.bio;
          this.urlBio = fileSrc;
        }
      },
      immediate: true,
    },
  },
};
</script>

<style lang="scss">

</style>
