<template>
  <div class="row h-100">
    <div class="col h-100 d-flex flex-column align-items-center justify-content-center">
      <p class="text-body font-weight-bold">Authorization</p>

      <form @submit.prevent="submitHandler">
        <div class="form-group">
          <label for="form-email">Email address</label>

          <input v-model.trim="email" type="email" class="form-control" id="form-email" aria-describedby="emailHelp">
        </div>

        <div class="form-group">
          <label for="form-password">Password</label>

          <input v-model="password" type="password" class="form-control" id="form-password">
        </div>

        <button :disabled="pending" type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthLogin',
  methods: {
    async submitHandler() {
      if (!this.email || !this.password) {
        return;
      }

      try {
        this.pending = true;
        await this.$store.dispatch('login', {
          email: this.email,
          password: this.password,
        });
        await this.$router.push('/');
      } catch (e) {}
      setTimeout(() => {
        this.pending = false;
      }, 1000);
    },
  },
  data: () => ({
    email: '',
    password: '',
    pending: false,
  }),
};
</script>

<style lang="scss">

</style>
