<template>
  <div class="row">
    <div class="col">
      <ul
      v-if="projectsList && projectsList.length"
      class="list-group">
        <li
          v-for="item of projectsList"
          :key="item.id"
          class="list-group-item">
          <div class="card card-header">
            <strong>
              {{ item.title }}
            </strong>
          </div>

          <div class="card card-body mb-2">
            <div class="row">
              <div class="col">
                <p>{{ item.repositoryURL }}</p>

                <p>{{ item.demoURL }}</p>

                <p>{{ item.releaseDate }}</p>

                <p>{{ item.description }}</p>

                <p>{{ item.mainTechnology }}</p>

                <div class="d-flex flex-row flex-wrap mb-2">
                  <span
                    v-for="tech of item.technologies"
                    :key="tech"
                    class="badge badge-secondary mr-1">
                  {{ tech }}
                </span>
                </div>

                <div class="form-group form-check">
                  <input type="checkbox" :checked="item.isVisible" disabled class="form-check-input" id="isVisible">
                  <label class="form-check-label" for="isVisible">Project is visible</label>
                </div>
              </div>

              <div class="col">
                <img :src="item.imageSrc" :alt="item.title" class="mb-2" style="width: 400px">
              </div>
            </div>

            <div class="btn-group">
              <a :href="item.repositoryURL" target="_blank" type="button" class="btn btn-success" style="flex: 1;">
                Open repository
              </a>

              <a :href="item.demoURL" target="_blank" type="button" class="btn btn-primary" style="flex: 1;">
                View demo page
              </a>

              <router-link tag="button" :to="`/project/${item.id}`" class="btn btn-warning text-white" style="flex: 1;">
                Edit
              </router-link>

              <button @click="deleteProject(item.id)" class="btn btn-danger" style="flex: 1;">
                Delete
              </button>
            </div>
          </div>
        </li>
      </ul>

      <p v-else>Projects list is empty</p>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'ProjectsList',
  methods: {
    ...mapActions(['removeData']),
    async deleteProject(id) {
      try {
        await this.removeData({ dir: 'projects', id });
      } catch (e) {
        console.warn(e);
      }
    },
  },
  computed: {
    ...mapGetters({
      projectsList: 'getProjectsList',
    }),
  },
};
</script>

<style lang="scss"></style>
