<template>
    <div class="row">
      <div class="col">
        <ul
        v-if="skillsList && skillsList.length"
        class="list-group">
          <li
          v-for="(item, idx) of skillsList"
          :key="idx"
          class="list-group-item">
            <div class="card card-header">
              <strong>
                {{ item.title }}
              </strong>
            </div>

            <div class="card card-body mb-2">
              <div class="row">
                <div class="col">
                  <p>Progress: <strong>{{ item.progress }}%</strong></p>
                </div>

                <div class="col">
                  <div class="form-group form-check">
                    <input type="checkbox" :checked="item.isVisible" disabled class="form-check-input" id="isVisible">
                    <label class="form-check-label" for="isVisible">Skill is visible</label>
                  </div>
                </div>

                <div class="col">
                  <p v-if="item.mainColor" :style="`background-color: ${item.mainColor};`">
                    Main color: {{ item.mainColor }}
                  </p>

                  <p v-else>Main color not selected</p>
                </div>

                <div class="col">
                  <img v-if="item.imageSrc" :src="item.imageSrc" :alt="item.title" class="mb-2" style="width: 50px">

                  <span v-else>
                    Image not selected
                  </span>
                </div>
              </div>

              <div class="btn-group">
                <router-link tag="button" :to="`/skills/${item.id}`" class="btn btn-primary">Edit</router-link>

                <button @click="deleteSkill(item.id)" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </li>
        </ul>

        <p v-else>Skills list is empty</p>
      </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  name: 'SkillsList',
  methods: {
    ...mapActions(['removeData']),
    async deleteSkill(id) {
      try {
        await this.removeData({ dir: 'skills', id });
      } catch (e) {
        console.warn(e);
      }
    },
  },
  computed: {
    ...mapGetters({
      skillsList: 'getSkillsList',
    }),
  },
};
</script>

<style lang="scss">

</style>
