<template>
  <form @submit.prevent="submitHandler">
    <div class="form-group">
      <label for="project-title">Project title</label>
      <input v-model="title" type="text" class="form-control" id="project-title">
    </div>

    <div class="form-group">
      <label for="project-repo-url">Project repository URL</label>
      <input v-model="repositoryURL" type="url" class="form-control" id="project-repo-url">
    </div>

    <div class="form-group">
      <label for="project-demo-url">Project demo page URL</label>
      <input v-model="demoURL" type="url" class="form-control" id="project-demo-url">
    </div>

    <div class="form-group mb-4">
      <label for="project-release-date">Project release date</label>
      <input v-model="releaseDate" type="date" class="form-control" id="project-release-date">
    </div>

    <template>
      <label>Project main technology or main framework</label>

      <div class="form-group mb-4" v-for="item of mainTechnologyList" :key="item.id">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            v-model="mainTechnology"
            :value="item.name"
            :name="item.name">
          <label class="form-check-label">
            {{ item.name }}
          </label>
        </div>
      </div>
    </template>

    <label class="form-check-label mb-2" for="tech-input">Project technologies</label>
    <div class="input-group">
      <input
      v-model="technology"
      type="text"
      class="form-control"
      placeholder="Technology"
      id="tech-input">
      <div class="input-group-append">
        <button
          @click.stop="addTechnology(technology)"
          type="button"
          class="btn btn-outline-secondary">Add technology</button>
      </div>
    </div>

    <div class="d-flex flex-row flex-wrap mb-3">
      <template v-if="technologies.length">
        <h4
          v-for="(tech, idx) of technologies"
          :key="idx"
          @click.stop="deleteTechnology(tech)"
          :title="`Click to remove ${tech}`"
          class="mr-1">
        <span class="badge badge-secondary">
          {{ tech }}
        </span>
        </h4>
      </template>

      <p v-else>Technology list is empty</p>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" v-model="isVisible" class="form-check-input" id="isVisible">
      <label class="form-check-label" for="isVisible">Project visibility</label>
    </div>

    <input
    @change="addFileHandler($event)"
    type="file"
    :multiple="false"
    accept="image/png, image/jpeg"
    id="project-add-file"
    style="margin-bottom: 16px;">

    <div class="form-group d-flex flex-column">
      <label for="project-description">Project description</label>
      <textarea
        v-model="description"
        name="description"
        id="project-description"
        cols="30"
        rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">{{ submitTitle }}</button>
  </form>
</template>

<script>
export default {
  name: 'ProjectEditForm',
  props: {
    submitTitle: { type: String, required: true },
    selectedProject: { type: Object, default: () => {} },
  },
  created() {
    if (this.$route.name === 'ProjectEdit') {
      const {
        // eslint-disable-next-line max-len
        title, repositoryURL, demoURL, releaseDate, description, image, imageName, imageSrc, mainTechnology, technologies, isVisible,
      } = this.selectedProject;
      this.title = title;
      this.repositoryURL = repositoryURL;
      this.demoURL = demoURL;
      this.releaseDate = releaseDate;
      this.description = description;
      this.image = image;
      this.imageName = imageName;
      this.imageSrc = imageSrc;
      this.mainTechnology = mainTechnology;
      this.technologies = technologies;
      this.isVisible = isVisible;
    }
  },
  methods: {
    addTechnology(value) {
      if (value) {
        this.technologies.push(value);
        this.technology = '';
      }
    },
    deleteTechnology(value) {
      this.technologies = this.technologies.filter((item) => item !== value);
    },
    submitHandler() {
      this.$emit('submitHandler', {
        title: this.title,
        repositoryURL: this.repositoryURL,
        demoURL: this.demoURL,
        releaseDate: this.releaseDate,
        description: this.description,
        image: this.image,
        imageName: this.imageName,
        imageSrc: this.imageSrc,
        mainTechnology: this.mainTechnology,
        technologies: this.technologies,
        isVisible: this.isVisible,
      });
      this.resetForm();
    },
    addFileHandler(event) {
      // eslint-disable-next-line prefer-destructuring
      this.image = event.target.files[0];
      this.imageName = `projects/${event.target.files[0].name}`;
    },
    resetForm() {
      this.title = null;
      this.repositoryURL = null;
      this.demoURL = null;
      this.releaseDate = null;
      this.description = null;
      this.image = null;
      this.imageName = null;
      this.imageSrc = null;
      this.mainTechnology = 'Other';
      this.technologies = ['HTML', 'CSS', 'JavaScript'];
      this.isVisible = true;
    },
  },
  computed: {
    mainTechnologyList() {
      return [
        { id: 'other', name: 'Other' },
        { id: 'javaScript', name: 'JavaScript' },
        { id: 'typeScript', name: 'TypeScript' },
        { id: 'jQuery', name: 'JQuery' },
        { id: 'vue', name: 'Vue' },
        { id: 'nuxt', name: 'Nuxt' },
        { id: 'react', name: 'React' },
        { id: 'reactNative', name: 'React Native' },
        { id: 'angular', name: 'Angular' },
        { id: 'svelte', name: 'Svelte' },
        { id: 'nodeJs', name: 'Node JS' },
        { id: 'express', name: 'Express' },
        { id: 'nest', name: 'Nest' },
      ];
    },
  },
  data() {
    return {
      title: null,
      repositoryURL: null,
      demoURL: null,
      releaseDate: null,
      description: null,
      image: null,
      imageName: null,
      imageSrc: null,
      mainTechnology: 'Other',
      technologies: ['HTML', 'CSS', 'JavaScript'],
      isVisible: true,
      technology: '',
    };
  },
};
</script>

<style lang="scss"></style>
