<template>
  <form @submit.prevent="submitHandler">
    <div class="form-group">
      <label for="skill-title">Skill title</label>
      <input v-model="title" type="text" class="form-control" id="skill-title">
    </div>

    <div class="form-group">
      <label for="skill-progress">Skill progress</label>
      <input v-model="progress" type="number" class="form-control" id="skill-progress">
    </div>

    <div class="form-group">
      <label for="skill-main-color">Skill main color (#RGB)</label>
      <div class="d-flex">
        <input v-model="mainColor" type="text" class="form-control mr-2" id="skill-main-color">
        <div :style="`height: 38px; width: 38px; background-color: ${mainColor}`"/>
      </div>
    </div>

    <div class="form-group form-check">
      <input type="checkbox" v-model="isVisible" class="form-check-input" id="isVisible">
      <label class="form-check-label" for="isVisible">Skill visibility</label>
    </div>

    <input
    @change="addFileHandler($event)"
    type="file"
    :multiple="false"
    accept="image/png, image/jpeg, image/svg+xml"
    id="skill-add-file"
    style="margin-bottom: 16px;">

    <br>

    <button type="submit" class="btn btn-primary">{{ submitTitle }}</button>
  </form>
</template>

<script>
export default {
  name: 'SkillEditForm',
  props: {
    submitTitle: { type: String },
    selectedSkill: { type: Object, default: () => {} },
  },
  created() {
    if (this.$route.name === 'SkillEdit') {
      const {
        title, progress, mainColor, isVisible, image, imageName, imageSrc,
      } = this.selectedSkill;
      this.title = title;
      this.progress = progress;
      this.mainColor = mainColor;
      this.isVisible = isVisible;
      this.image = image;
      this.imageName = imageName;
      this.imageSrc = imageSrc;
    }
  },
  methods: {
    submitHandler() {
      this.$emit('submitHandler', {
        title: this.title,
        progress: this.progress,
        mainColor: this.mainColor,
        isVisible: this.isVisible,
        image: this.image,
        imageName: this.imageName,
        imageSrc: this.imageSrc,
      });
      this.resetForm();
    },
    addFileHandler(event) {
      // eslint-disable-next-line prefer-destructuring
      this.image = event.target.files[0];
      this.imageName = `skills/${event.target.files[0].name}`;
    },
    resetForm() {
      this.title = null;
      this.progress = null;
      this.mainColor = null;
      this.isVisible = true;
      this.image = null;
      this.imageName = null;
      this.imageSrc = null;
    },
  },
  data() {
    return {
      title: null,
      progress: null,
      mainColor: null,
      isVisible: true,
      image: null,
      imageName: null,
      imageSrc: null,
    };
  },
};
</script>

<style lang="scss">

</style>
