<template>
  <div class="container h-100">
    <div v-if="$route.name !== 'AuthLogin'" class="nav justify-content-center mb-3 mt-3">
      <div
        v-for="(item, idx) of navLinks"
        :key="idx"
        class="nav-item">
        <router-link
          :class="{ active: item.active }"
          :to="item.to"
          class="nav-link"
          exact>
          {{ item.title }}
        </router-link>
      </div>

      <button @click="logout" class="btn btn-secondary ml-auto">Logout</button>
    </div>

    <router-view/>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'App',
  created() {
    this.initApp();
  },
  methods: {
    ...mapActions(['initApp']),
    async logout() {
      await this.$store.dispatch('logout');
      this.$router.push({ name: 'AuthLogin' }).catch(() => {});
    },
  },
  computed: {
    navLinks() {
      return [
        { to: '/projects', title: 'Projects', active: this.$route.name === 'ProjectsList' },
        { to: '/add-project', title: 'Add project', active: this.$route.name === 'AddProject' },
        { to: '/skills', title: 'Skills', active: this.$route.name === 'SkillsList' },
        { to: '/add-skill', title: 'Add skill', active: this.$route.name === 'AddSkill' },
        { to: '/admin-info', title: 'Admin info', active: this.$route.name === 'AdminInfo' },
        { to: '/add-admin-info', title: 'Add info', active: this.$route.name === 'AddAdminInfo' },
      ];
    },
  },
};
</script>

<style lang="scss">
html, body {
  height: 100%;
}

.active {
  background-color: rgba(#999, .2);
}
</style>
